<div ng-if="isAuthenticated() && currentUser.username">
  <div class="row">
    <div class="col-4">
      <nav class="navbar navbar-light alert-dark">
        <a class="navbar-brand" href="#"><img class="media-object img-rounded" ng-src="{{currentUser.picture}}"></a>
        <ul class="navbar-nav">
          <li class="nav-item"><strong>{{currentUser.fullName}}</strong>  <a href="" ng-click="logout()">logout</a></li>
        </ul>
      </nav>
      <div class="card" ng-repeat="name in data">
      <a href="#"><img class="media-object img-rounded" ng-src="{{name.picture}}"><h4>{{name.fullName}}</h4></a>
    </div>
    </div>

    <div class="col-8">
      <nav class="navbar navbar-light alert-dark">
        <a class="navbar-brand" href="#"><img class="media-object img-rounded" ng-src="{{currentUser.picture}}"></a>
      </nav>
      <div class="card" id="msgBox"></div> 
      <form id="message-form">
        <textarea name="message" class="form-control" id="textMsg"></textarea>
        <button class="btn alert-dark" id="textMsgBtn">Send</button>
      </form>
    </div>
  </div>
</div>

<div ng-if="!isAuthenticated()">
  <div class="container">
  <br><br>
    <div class="jumbotron">
      <h2> Chat App</h2>
      <p>This is a basic Instagram Chat App. To continue, please log in with your Instagram account or create a new email account.</p>
        <p>
          <a class="btn btn-lg btn-success" href="#!/login">Log in</a>
          <a class="btn btn-lg btn-primary" href="#!/signup">Create account</a>
        </p>
    </div>
  </div>
</div>

  <div ng-if="isAuthenticated() && !currentUser.username" class="center-form panel">
    <br><br>
    <div class="container">
    <div class="panel-body">
      <h5 class="text-center">Link Account</h5>
      <p>To complete the registration process you must link your Instagram account.</p>
      <button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
        Sign in with Instagram
      </button>
    </div>
  </div>
</div>
