#msgBox{
  background-color: #FFFFBF;
  height: 510px;
}

#textMsgBtn{
  position: fixed;
  bottom: 2px;
  right: 2px;
  height: 63px;
}


#textMsg{
  width: 65%;
  position: fixed;
  bottom: 2px;
}

.col-8{
  margin-left: -28px;
}

a{
  style:none;
  color: black;
}
h4{
  display: inline-block;
  margin-left: 5px;
}

.card{
  display: block;
  padding: 10px;
}

.navbar-nav {
  float: right;
  margin: 0;
}

.nav-item {
  float: right;
}

.media-object {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.media-heading {
  display: block;
  margin: 0;
  color: #3f729b;
}

.media-heading:hover {
  color: #1c5380;
}

.center-form {
  width: 315px;
  margin: 10% auto;
}

.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42px;
}

.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border: 1px solid #456c8c;
}

.btn-instagram:hover,
.btn-instagram:focus {
  color: #fff;
  background-color: #303030;
}